In [1]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
#data analysis libraries 
import numpy as np
import pandas as pd

In [2]:
#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().magic(u'matplotlib inline')

In [3]:
#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
#input data
data = pd.read_csv("/Users/william/Desktop/JUN/0101_2.csv", error_bad_lines=False, header=None)

In [5]:
data_0 = data[data[3] == '0']
data = data[data[3] != '0']

In [6]:
data_0.head()

          0  1     2  3     4  5
0  2017/1/1  0  松山機場  0  松山機場  0
1  2017/1/1  0  松山機場  0  中山國中  0
2  2017/1/1  0  松山機場  0  南京復興  0
3  2017/1/1  0  松山機場  0  忠孝復興  0
4  2017/1/1  0  松山機場  0    大安  0

In [7]:
data.head()

           0  1     2      3      4  5
24  2017/1/1  0  松山機場  中正紀念堂    小碧潭  0
25  2017/1/1  0  松山機場  中正紀念堂     新店  0
26  2017/1/1  0  松山機場  中正紀念堂  新店區公所  0
27  2017/1/1  0  松山機場  中正紀念堂     七張  0
28  2017/1/1  0  松山機場  中正紀念堂    大坪林  0

In [8]:
data_0 = data_0[[0,1,2,4,5]]
one = data[[0,1,2,3,5]]
two = data[[0,1,3,4,5]]

In [9]:
#one.head()
two.head()

           0  1      3      4  5
24  2017/1/1  0  中正紀念堂    小碧潭  0
25  2017/1/1  0  中正紀念堂     新店  0
26  2017/1/1  0  中正紀念堂  新店區公所  0
27  2017/1/1  0  中正紀念堂     七張  0
28  2017/1/1  0  中正紀念堂    大坪林  0

In [10]:
data_0.to_csv('0101split.csv', index=False, sep=',', encoding='utf_8_sig')
one.to_csv('0101split1.csv', index=False, sep=',', encoding='utf_8_sig')
two.to_csv('0101split2.csv', index=False, sep=',', encoding='utf_8_sig')